body {
    font-family: sans-serif;
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

header a {
    margin-left: 20px;
}

header a:link {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header a:active {
    text-decoration: none;
}

button {
    cursor: pointer;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    text-align: start;
}

.internal {
    padding: 130px 0;
}

.external {
    padding: 25px 0;
}

.thin {
    max-width: 62vmax;
    min-width: 85vmin;
    margin: auto;
}

.thinner {
    max-width: 50vmax;
    min-width: 85vmin;
    margin: auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-end {
    justify-content: end;
}

.flex-item {
    flex: 1;
}

.text-center {
    text-align: center;
}

.margin-15 {
    margin: 15px;
}

.bold {
    font-weight: bold;
}

.primary {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: -30px !important;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.blue {
    background-color: #1f2937;
}

.azure {
    background-color: #3882f6;
    color: white;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: -80px !important;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1f2937;
    text-align: start;
}

.quoter {
    font-weight: bolder;
    text-align: end;
}

.call-to-action {
    font-size: 20px;
    padding: 45px 0;
    border-radius: 7px;
}

.button {
    font-size: 16px;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: bold;
    margin: 8px 0;
    border-style: none;
}

.white-border {
    border-style: solid !important;
    border-color: white !important;
}

.rectangle-img {
    max-width: 35vmax;
    height: auto;
    margin: 0 10px;
}

.square-img {
    width: 160px;
    height: auto;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    margin-top: 30px;
}

.subtext {
    width: 150px;
    height: auto;
    margin: auto !important;
}